.bg-nav {
    background: #A1DFE0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #313131;

}

.nav-link {
    margin-left: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #313131 !important;
}

.nav-btn {
    border: 1px solid #C35100;
    border-radius: 40px;
    background-color: transparent;
    color: #C35100;
    padding: 13px 40px;
    margin-left: 90px;

}
.btn-primary {
    border: none;
    border-radius: 40px;
    background-color: #C35100;
    padding: 5px 20px;

}




@media (max-width: 1350px) {

    .footer {
        margin-top: 20px;
    }

    .nav-btn {
        border: 1px solid #C35100;
        border-radius: 40px;
        background-color: transparent;
        color: #C35100;
        font-size: 14px;
        padding: 5px 10px;

    }


}  


